html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#output {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  cursor: move;
}
#sidebar {
  position:absolute;
  top:0px;
  right:0;
  width:20%;
  background-color: rgba(200,200,255,0.4);
  border-radius: 15px 0 15px 15px;
  padding: 10px;
}
#sidebar input {
	width:auto;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	color:#ffffff;
	font-size: large;
}
label, input[type="checkbox"] {
  cursor: pointer;
}